
<div class="container"> 

    <header>
        <h1>Mi agenda</h1>  
    </header>

    <formulario-alta
    (clikEnGuardar)="guardarContacto($event)"

    ></formulario-alta>


    <!-- PAra enlazar datos en un componente hijo basta con indicar el atributo 
    que se ha expuesto en este. si queremos evaliar una expresion previa a su
    asignacion usamos usamos con corchetes el atributo -->

    <!-- Cuando trabajamos con observables en los templates podemos ayudarnos de Pipe 'async
    este Pipe lo que hace es gestionar suscripcion y desuscripcion del observable en cuestion 
    
    
    -->
    <lista-contactos [datos] ="contactos$ | async"
    (clickEnEliminar)="eliminarContacto($event)" >


    </lista-contactos>

</div>